{% extends "base.html" %}

{% block content %}
    {% comment %} usuario: {{ user.username }} {% endcomment %}
    <h1>LISTADO VACUNAS</h1>
    <ul>
        {% for vacuna in vacunas %}
            <li>
                {{ vacuna.id_vacuna }} - {{ vacuna.nombre_vacuna }} - Dosis Requeridas: {{ vacuna.dosis_requeridas }} - Intervalo (días): {{ vacuna.intervalo_dias }} - Descripción: {{ vacuna.descripcion }}
                <a href=" {% url 'eliminar_vacuna' vacuna.id_vacuna %}">ELIMINAR</a> | 
                <a href="{% url 'actualizar_vacuna' vacuna.id_vacuna %}">MODIFICAR</a> 
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_vacuna' %}">NUEVA VACUNA</a> |

    
{% endblock %}