{% extends "base.html" %}

{% block content %}
    {% comment %} usuario: {{ user.username }} {% endcomment %}
    <h1>HISTORIAL DE VACUNACIÓN</h1>
    <ul>
        {% for historial in historiales %}
            <li>
                {{ historial.id_vacunacion }} - Mascota: {{ historial.id_mascota.nombre }} - Vacuna: {{ historial.id_vacuna.nombre_vacuna }} (Dosis {{ historial.dosis_numero }}) - Aplicación: {{ historial.fecha_aplicacion }} - Próxima Dosis: {{ historial.fecha_proxima }} - Veterinario: {{ historial.id_veterinario.nombre }}

                {% if user.is_superuser %}
                    {# Admin: Puede ELIMINAR y MODIFICAR #}
                <a href=" {% url 'eliminar_historial' historial.id_vacunacion %}">ELIMINAR</a> | 
                <a href="{% url 'actualizar_historial' historial.id_vacunacion %}">MODIFICAR</a> 
                
                {% elif user.is_staff %}
                    {# Staff: Solo puede MODIFICAR #}
                    | <a href="{% url 'actualizar_historial' historial.id_vacunacion %}">MODIFICAR</a> 
                
                {% else %}
                    {# Usuario Normal: Solo Visualizar. No se muestran enlaces de acción #}
                    
                {% endif %}
                            </li>
        {% endfor %}
    </ul>

    {% if user.is_superuser or user.is_staff %}
        {# Admin y Staff pueden crear #}
    <a href="{% url 'crear_historial' %}">NUEVO REGISTRO</a>
    {% endif %}

    {% comment %} <a href="{% url 'listar_compras' %}">VER COMPRAS</a> |
    <a href="{% url 'listar_tiendas' %}">VER TIENDAS</a> {% endcomment %}
    {% comment %} {% else %}
    <h2>Ud no tiene permiso para app Ventas</h2>
    {% endif %} {% endcomment %}
{% endblock %}