{% extends "base.html" %}

{% block content %}
    {% comment %} usuario: {{ user.username }} {% endcomment %}
    <h1>LISTADO VETERINARIOS</h1>
    <ul>
        {% for veterinario in veterinarios %}
            <li>
                {{ veterinario.id_veterinario }} - {{ veterinario.nombre }} - Matrícula: {{ veterinario.matricula }} - Tlf: {{ veterinario.telefono }}
                <a href=" {% url 'eliminar_veterinario' veterinario.id_veterinario %}">ELIMINAR</a> | 
                <a href="{% url 'actualizar_veterinario' veterinario.id_veterinario %}">MODIFICAR</a> 
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_veterinario' %}">NUEVO VETERINARIO</a> |

    
{% endblock %}